
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
p,
.abstract {
  text-align: justify;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; }
}

body {
  font-family: "Nunito", sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
}

h2 {
  border-bottom: 1px solid #bfbfbf;
}

img {
  display: block;
  margin: auto;
}

.btn {
  background-color: #8C6239;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover,
.btn:active {
    background-color: #149e0d;
}

.teacher {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: 1fr;  /* Single column layout */
  grid-template-rows: auto auto auto 1fr;  /* Image first, then name, then description, then button */
}

.teacher__img-container {
  overflow: hidden;  /* Hide overflowed content when zoomed */
  display: inline-block;  /* Ensure the div wraps the image tightly */
  grid-row: 1 / 2;  /* The image will be placed in the first row */
  width: 100%;  /* Ensure it takes full width of the parent */
  height: 20rem;
}

.teacher__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.teacher__img:hover {
  transform: scale(1.1);  /* Zoom in effect */
}

.teacher__name {
  grid-row: 2 / 3;  /* Place name below the image */
  justify-self: center;
  align-self: end;
  z-index: 3;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: #084f04;
  color: #fff;
  font-weight: 500;
  transform: translateY(-50%);
}

.teacher__desc {
  grid-row: 3 / 4;  /* Place description below the name */
  font-size: .8rem;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 21rem;
  transform: translateY(-10%);
  overflow: auto;
}

.teacher__btn {
  grid-row: 4 / 5;  /* Place the button below the description */
  grid-column: 1 / -1;
  font-size: .8rem;
}

.teacher__btn-text,
.mapcard__btn {
  color: #fff;
  font-weight: 500;
  transition: font-size 0.3s ease-in-out;
}

.btn.teacher__btn:hover .teacher__btn-text {
  font-size: 1.1em;
  font-weight: 700;
}


.quarto-title-block .quarto-title-banner {
  background-color: #8C6239;
}

.logos {
  place-items: center;
}

.logo__img {
  height: 3.5rem;
}

/* CALLOUTS ------------*/

div.callout-important.callout-style-default>.callout-header {
    background-color: #FFCF99;
}

div.callout-important.callout {
    border-left-color: #d9534f;
    background-color: #ffefe9;
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: #b5f4ac;
}

div.callout-tip.callout {
    background-color: #f9ffe9;
}

.maplibregl-map  {
  margin-bottom: 2rem;
}


/* MAP CARD --------------------- */
.mapcard {
  background-color: #FFD6AF;
  padding: 3rem;
  margin: 3rem 0;
}

.mapcard__title {
  margin-top: 5rem;
  color: #002500;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Merriweather;
}

.mapcard__opts {
  color: #002500;
  font-weight: 700;
  line-height: 1;
  font-family: Merriweather;
}

.mapcard__answ {
  color: #002500;
  line-height: 1;
  font-family: Merriweather;
}


.mapcard__btn {
  text-align: center;
}

.mapcard__btn p {
  text-align: center;
  padding: .5rem;
  vertical-align: center;
}

.mapcard__btn:hover,
.mapbard__btn:focus {
  font-size: 1.52rem;
  font-weight: 700;
}

.mapcard__map canvas {
  border: 3px solid #002500;
}
